* {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
}

.not_found {
    margin-top: 157px;
    text-align: center;
    font-weight: 500;
    font-size: 48px;
    line-height: 59px;
}

.main {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main_link {
    padding: 20px;
    height: 671px;
    width: 370px;
    border: 1px dashed rgba(162, 162, 162, 0.6);
    box-sizing: border-box;
    border-radius: 19px;
    margin-right: 10px;
    margin-bottom: 10px;
}

.main_link_heading {
    margin-top: 17px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.main_link_text {
    margin-top: 21px;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
}

.main_link:hover {
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
    border: 1px solid rgba(162, 162, 162, 0.6);
}

.about_text {
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    text-align: center;
}

.about {
    margin-top: 70px;
}

.error_logo {
    margin-top: 38px;
    height: 112px;
    display: block;
}

.error_png {
    display: block;
    height: 350px;
    margin: 78px auto 0 auto;
}

.error_heading {
    display: block;
    text-align: center;
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    margin: 40px auto 0 auto;
}

.error_text {
    display: block;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    margin: 25px auto 0 auto;
}

.panel {
    border: 1px dashed rgba(162, 162, 162, 0.6);
    box-sizing: border-box;
    border-radius: 5px;
    min-height: 164px;
}

.panel:hover {
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
}

.panel:hover .add {
    opacity: 1;
    box-shadow: 8px 8px 4px rgba(0, 0, 0, 0.4);
}

.add {
    cursor: pointer;
    background: #00A3FF;
    border: 1px solid rgba(162, 162, 162, 0.6);
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    opacity: 0;
}

.add:hover {
    background: #008BDA;
}

.added {
    background: #00CA51;
}

.added:hover {
    background: #00CA51;
}

.short_panel {
    display: flex;
    position: relative;
    width: 574px;
    height: 166px;
    margin-bottom: 35px;
}

.main_characters, .main_locations, .main_episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 35px;
}

.character_img {
    width: 162px;
    height: 162px;
    margin: 1px 0 1px 1px;
}

.location_name, .episode_name {
    margin-top: 11px;
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-align: center;
}

.character_name {
    max-width: 300px;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}

.short_panel .character_fields {
    display: grid;
    grid-template-columns: 153px 1fr;
    grid-gap: 9px;
}

.long_panel .character_fields {
    display: grid;
    grid-template-columns: 153px 194px 75px 1fr;
    grid-gap: 9px;
}

.long_panel {
    display: flex;
    position: relative;
    margin-bottom: 35px;
    width: 1170px;
}

.field_name {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    color: #1F4766;
}

.field_value {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.character_heading {
    display: flex;
    margin-top: 14px;
}

.character_status {
    display: flex;
    align-items: center;
    position: absolute;
    right: 15px;
    top: 20px;
}


.right {
    margin-left: 15px;
}

.filter_main_characters {
    margin-top: 35px;
    display: flex;
}

.filter_types {
    position: absolute;
    right: 0;
}

.hamburger {
    cursor: pointer;
    margin-top: 22px;
    margin-right: 15px;
}

.tiles {
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: -2px;
}

.prev_page, .pagination, .page_wrapper, .next_page {
    display: flex;
    cursor: pointer;
}

.next_page {
    margin-left: 30px;
}

.prev_page {
    margin-right: 50px;
}

.page_wrapper {
    flex-wrap: wrap;
}

.pagination {
    justify-content: center;
    margin-top: 32px;
}

.next_page_icon {
    margin-left: 10px;
    width: 24px;
    height: 24px;
    background: url("../assetes/icons/right.svg");
}

.next_page:hover .next_page_icon {
    background: url("../assetes/icons/right_red.svg");

}

.next_page:hover, .prev_page:hover {
    color: #FF0000;
}

.page {
    border: 1px solid rgba(0, 0, 0, 0.4);
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 20px;

}

.page:hover {
    color: #00A3FF;
    border: 1px solid #00A3FF;
}

.page_cur {
    color: #FF0000;
    border: 1px solid #FF0000;
}

.prev_page_icon {
    margin-right: 10px;
    width: 24px;
    height: 24px;
    background: url("../assetes/icons/left.svg");
}

.prev_page:hover .prev_page_icon {
    background: url("../assetes/icons/left_red.svg");
}

.short_panel_location {
    position: relative;
    width: 574px;
    min-height: 166px;
    margin-bottom: 35px;
}

.short_panel_location .location_fields, .long_panel .episode_fields {
    display: grid;
    grid-template-columns: 257px 1fr;
}

.field_big_number {
    margin-top: 11px;
    font-weight: 500;
    font-size: 36px;
    line-height: 44px;
}

.right_side_location {
    margin-top: 9px;
}

.left_side_location {
    margin-top: 4px;
    margin-left: 30px;
}

.left_side_location .field_name, .left_side_location .field_value {
    margin-top: 5px;
}

.short_panel_location .field_name {
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.filter_main_locations {
    margin-top: 34px;
    display: flex;
    justify-content: space-between;
}

.episode_panel .btn_long {
    top: 28px;
    right: 29px;
}

.episode_panel .right_field .field_value {
    margin-right: 50px;
}

.episode_panel .field_value, .episode_panel .field_name {
    margin-top: 5px;
}

.done{
    position: absolute;
    right: 106px;
    bottom: 26px;
    display: flex;
}

.done p {
    margin-left: 10px;
    color: #00CA51;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
}
.done img{
    width: 24px;
    height: 19px;
}
.episode_panel .done{
    right: 120px;
    top: 29px;
}

.favourites_img{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 35px;
}

.favourite_location{
    background: rgba(0, 0, 0, 0.3) url("../assetes/jpg/favourite_locations.jpg") no-repeat;
    background-size: cover;
    border: 2px solid #00A3FF;
    box-sizing: border-box;
    border-radius: 5px;
}

.favourite_character{
    background: rgba(0, 0, 0, 0.3) url("../assetes/jpg/favourite_characters.jpg") no-repeat;
    background-size: cover;
    border: 2px solid #00A3FF;
    box-sizing: border-box;
    border-radius: 5px;
}
.favourite_episode{
    background: rgba(0, 0, 0, 0.3) url("../assetes/jpg/favourite_episodes.jpg") no-repeat;
    background-size: cover;
    border: 2px solid #00A3FF;
    box-sizing: border-box;
    border-radius: 5px;
}

.normal_favourite, .chosen_favourite{
    display: flex;
    justify-content: center;
    align-items: center;
}

.normal_favourite{
    width: 270px;
    height: 54px;
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    cursor: pointer;
}

.chosen_favourite{
    width: 430px;
    height: 97px;
    font-weight: 700;
    font-size: 48px;
    line-height: 59px;
    cursor: pointer;
}



.long_favourite, .short_favourite{
    margin-top: 32px;
}
.short_favourite{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.short_panel .delete, .short_panel_location .delete{
    border: 1px solid rgba(162, 162, 162, 0.6);
    background: #DF0000;
    border-radius: 100%;
    transform: rotate(45deg);
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    position: absolute;
    right: -20px;
    top: -20px;
    opacity: 0;
}
.short_panel:hover .delete, .short_panel_location:hover .delete{
    opacity: 1;
}
.short_panel .delete:hover, .short_panel_location .delete:hover{
    background: #FF0000;
}

.select{
    position: relative;
}

.select_img{
    position: absolute;
    bottom: 15px;
    right: 44px;
}

.none {
    display: none;
}
